 .App {
  text-align: center;
}
.formControl{
  width: 190px;
  position: 'relative';
  
}
.main-units-feild{
  display: flex;
  width: 400px;
}
.main-div{
  display: flex;
  height:100vh;
  justify-content: center; 
  align-items:center;

}
.converter-div{

width:50%;
height: 60%;
}

.heading{
  display: flex;
  height: 16%;
  justify-content: center;
  align-items: center;
  font-size: 162%;
  font-family: -webkit-body;
  color: black;
}
.operation-div{
  /* background-color: red; */
  border: 1px solid black;
}
.main-units{
  height: 88px;
  display: flex;
  justify-content: center; 
  align-items:center;
  /* background-color: yellow; */
}

.feilds{
  height: 88px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  /* background-color: green; */
}

.equal-sign{
  height: 28px;
  display: flex;
  justify-content: center; 
  align-items:center;
  /* background-color: yellow; */
}

.sub-units{
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  /* background-color: green; */
}
.text-feilds{

}